body{background-color: lightcoral;
	font-family: ariel;
	font-size: 16;
	font-color:#bd428b;
	margin-left:250px;
	margin-right:450px;

	/* Add a black background color to the top navigation */
.topnav {
  background-color: #e1cab8;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #dc237b;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #e1cab8;
  color: #dc237b;
}
