body {
  background-color: lightcoral;
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: #bd428b;
  margin: 0;
  padding: 10px;
}

/* Navigation */
.topnav {
  background-color: #e1cab8;
  display: flex;
  flex-wrap: wrap; /* allows wrapping on small screens */
}

.topnav a {
  color: #dc237b;
  padding: 12px;
  text-decoration: none;
  font-size: 16px;
  flex: 1; /* makes links evenly spaced */
  text-align: center;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #e1cab8;
  color: #dc237b;
}

/* Make images responsive */
img {
  max-width: 100%;
  height: auto;
}
